<html>

<style type="text/css">
#sidebar {
  border: 1px solid;
  background: #C4C4C4;
}
#sidebar dl {
  margin: 0;
  padding: 0;
  border-bottom: 1px;
}
#sidebar dt {
  font-size: 22;
  font-weight: bold;
  margin: 10;
}
#sidebar dd {
  margin: 0;
  padding: 10px 10px 10px 40px;
  background: #E0E0E0;
  border-top: 1px solid;
}

</style>

<script>

function requestPush() {
  var req = navigator.push.register();

  req.onsuccess = function(e) {
    alert("register() succeeded: endpoint=" + e.target.result);
  }

  req.onerror = function(e) {
   alert("register() failed: error=" + JSON.stringify(e));
  }
}

function unregister(id) {
  var pushEndpoint = "{{.PushEndpointPrefix}}" + id;

  var req = navigator.push.unregister(pushEndpoint);

  req.onsuccess = function(e) {
    alert("unregister() succeeded: id=" + id);
  }

  req.onerror = function(e) {
    alert("unregister() failed: id=" + id + ", error=" + JSON.stringify(e));
  }
}

function sendNotification(id, currentVersion) {

  var request = new XMLHttpRequest();

  request.onload = function(e) {
    alert("update succeeded: endpoint=" + pushEndpoint);
  };

  request.onerror = function(e) {
    alert("update failed: endpoint=" + pushEndpoint + ", error=" + JSON.stringify(e));
  };

  var pushEndpoint = "{{.PushEndpointPrefix}}" + id;

  request.open("PUT", pushEndpoint, true);
  request.setRequestHeader('Content-type','application/x-www-form-urlencoded');
  request.send("version=" + Number(new Date()));
}
</script>

<body>

<Title>Admin</Title>

<h1>Users</h1>

<div id="sidebar">
{{with .Users}}
  {{range .}}
    <dl>
      <dt>
      {{.UAID}} (Connected: {{.Connected}})
      </dt>
      {{with .Channels}}
        {{range .}}
            <dd>
              <button type="button" onClick="unregister('{{.ChannelID}}')">Unregister</button>
              <button type="button" onClick="sendNotification('{{.ChannelID}}', '{{.Version}}')">Update</button>
              {{.ChannelID}}  (Version: {{.Version}})
            </dd>
          {{end}}
        {{end}}
        </dl>
  {{end}}
{{end}}
</div>

<h1>UA</h1>
<button type="button" id="button" onClick="requestPush();">Request push</button>

<h1>Memory</h1>
<p> Memory used: {{.TotalMemory}} </p>
</body>
</html>
